@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,100,200,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
/* line 15, ../scss/assets/_extends.scss */
.m-b-lg, html,
body {
  margin-bottom: 20px !important;
}

/* line 18, ../scss/assets/_extends.scss */
.m-b-lg-2x {
  margin-bottom: 60px !important;
}

/* line 22, ../scss/assets/_extends.scss */
.font-lato {
  font-family: 'Lato','Helvetica',Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* line 3, ../scss/assets/_mixins.scss */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 8, ../scss/main.scss */
html,
body {
  font-family: 'Lato','Helvetica',Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* line 15, ../scss/main.scss */
header {
  /* line 65, ../scss/main.scss */
}
/* line 16, ../scss/main.scss */
header .navbar-default {
  border-color: #fff;
}
@media (min-width: 768px) {
  /* line 15, ../scss/main.scss */
  header {
    /* line 60, ../scss/main.scss */
  }
  /* line 21, ../scss/main.scss */
  header .navbar-nav {
    float: right;
    margin: 0;
    padding: 24px;
    line-height: 20px;
  }
  /* line 26, ../scss/main.scss */
  header .navbar-nav li {
    margin-left: 40px;
  }
}
/* line 32, ../scss/main.scss */
header .navbar-brand {
  float: left;
  height: 95px;
  padding: 15px;
  font-size: 22px;
  line-height: 20px;
}

/* line 40, ../scss/main.scss */
section.jumbotron {
  background: #e67e22 url(../img/desk.jpg) no-repeat top center;
  background-size: cover;
  margin-bottom: 0;
  border-radius: 0;
  color: #fff;
}
/* line 43, ../scss/main.scss */
section.jumbotron .title {
  padding: 130px 0;
}
/* line 45, ../scss/main.scss */
section.jumbotron .title p.lead {
  font-size: 60px;
}

/* line 51, ../scss/main.scss */
section.content h1 {
  font-size: 28px;
}
/* line 54, ../scss/main.scss */
section.content .head {
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 59, ../scss/main.scss */
.c-orange {
  color: #f52d2d;
}

/* line 62, ../scss/main.scss */
.t-ex-bold {
  font-weight: bolder;
}

/* line 65, ../scss/main.scss */
.t-bold {
  font-weight: bold;
}

/* line 68, ../scss/main.scss */
.t-normal {
  font-weight: normal;
}

/* line 71, ../scss/main.scss */
.pad-20 {
  padding: 20px;
}

/*Button*/
@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icomoon/icomoon.eot);
  src: url(../fonts/icomoon/icomoon.eot?#iefix) format("embedded-opentype"), url(../fonts/icomoon/icomoon.woff) format("woff"), url(../fonts/icomoon/icomoon.ttf) format("truetype"), url(../fonts/icomoon/icomoon.svg#icomoon) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* General button style (reset) */
/* line 85, ../scss/main.scss */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 104, ../scss/main.scss */
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
/* line 118, ../scss/main.scss */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* line 129, ../scss/main.scss */
.icon-arrow-right:before {
  content: "\e00d";
}

/* line 132, ../scss/main.scss */
.icon-arrow-left:before {
  content: "\e003";
}

/* Button 4 */
/* line 136, ../scss/main.scss */
.btn-4 {
  border-radius: 4px;
  border: 3px solid #24b662;
  color: #24b662;
  overflow: hidden;
}

/* line 142, ../scss/main.scss */
.btn-4:active {
  border-color: #17954c;
  color: #17954c;
}

/* line 146, ../scss/main.scss */
.btn-4:hover {
  background: #24b662;
  color: #fff;
}

/* line 150, ../scss/main.scss */
.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 160, ../scss/main.scss */
.btn-4:active:before {
  color: #17954c;
}

/* Button 4a */
/* line 165, ../scss/main.scss */
.btn-4a:before {
  left: 130%;
  top: 0;
}

/* line 169, ../scss/main.scss */
.btn-4a:hover:before {
  left: 80%;
}

/*footer*/
/* line 174, ../scss/main.scss */
footer {
  background: #2c3e50;
  border-top: solid 1px #ddd;
  padding: 30px 0;
  font-size: 12px;
  color: #4e575d;
  letter-spacing: 0.5px;
}
/* line 181, ../scss/main.scss */
footer nav.sub-menu {
  padding: 5em 3em;
}
/* line 183, ../scss/main.scss */
footer nav.sub-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 187, ../scss/main.scss */
footer nav.sub-menu ul a {
  text-decoration: none;
}
/* line 191, ../scss/main.scss */
footer nav.sub-menu .footer-nav li a:first-child {
  border-left: 0;
}
/* line 194, ../scss/main.scss */
footer nav.sub-menu .footer-nav li a {
  border-left: 1px solid #ddd;
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
  padding: 0 10px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  /* line 205, ../scss/main.scss */
  footer ul {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
/* line 212, ../scss/main.scss */
hr.small {
  background-color: #000;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 44px;
}

/* line 219, ../scss/main.scss */
.text-hr {
  margin-bottom: 60px !important;
  margin-top: 0 !important;
}

/* line 223, ../scss/main.scss */
.center-vertical {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50% 0;
}
