@import 'assets/mixins';
@import 'assets/color';
@import 'assets/type';
@import 'assets/extends';
@include body-ess;
$tc: #f52d2d;
html,
body {
  font-family: 'Lato','Helvetica',Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  @extend .m-b-lg;
}
header {
  .navbar-default {
    border-color: #fff;
  }
  @media (min-width: 768px) {
    /* line 60, ../scss/main.scss */
    .navbar-nav {
      float: right;
      margin: 0;
      padding: 24px;
      line-height: 20px;
      li {
        margin-left: 40px;
      }
    }
  }
  /* line 65, ../scss/main.scss */
  .navbar-brand {
    float: left;
    height: 95px;
    padding: 15px;
    font-size: 22px;
    line-height: 20px;
  }
}
section.jumbotron {
  @include back-cover($carrot,"../img/desk.jpg");
  color: #fff;
  .title {
    padding: 130px 0;
    p.lead {
      font-size: 60px;
    }
  }
}
section.content {
  h1 {
    font-size: 28px;
  }
  .head {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.c-orange {
  color: $tc;
}
.t-ex-bold {
  font-weight: bolder;
}
.t-bold {
  font-weight: bold;
}
.t-normal {
  font-weight: normal;
}
.pad-20 {
  padding: 20px;
}

/*Button*/
@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icomoon/icomoon.eot);
  src: url(../fonts/icomoon/icomoon.eot?#iefix) format('embedded-opentype'), url(../fonts/icomoon/icomoon.woff) format('woff'), url(../fonts/icomoon/icomoon.ttf) format('truetype'), url(../fonts/icomoon/icomoon.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before,
.icon-heart:after,
.icon-star:after,
.icon-plus:after,
.icon-file:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.icon-arrow-right:before {
  content: "\e00d";
}
.icon-arrow-left:before {
  content: "\e003";
}
/* Button 4 */
.btn-4 {
  border-radius: 4px;
  border: 3px solid #24b662;
  color: #24b662;
  overflow: hidden;
}
.btn-4:active {
  border-color: #17954c;
  color: #17954c;
}
.btn-4:hover {
  background: #24b662;
  color: #fff;
}
.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-4:active:before {
  color: #17954c;
}

/* Button 4a */
.btn-4a:before {
  left: 130%;
  top: 0;
}
.btn-4a:hover:before {
  left: 80%;
}

/*footer*/
footer {
  background: $midnight-blue;
  border-top: solid 1px #ddd;
  padding: 30px 0;
  font-size: 12px;
  color: #4e575d;
  letter-spacing: 0.5px;
  nav.sub-menu {
    padding: 5em 3em;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        text-decoration: none;
      }
    }
    .footer-nav li a:first-child {
      border-left: 0;
    }
    .footer-nav li a {
      border-left: 1px solid #ddd;
      color: #fff;
      font-size: 18px;
      font-weight: lighter;
      padding: 0 10px;
      text-transform: uppercase;
    }
  }
}
@media(max-width:767px) {
  footer ul {
    float: none;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}
hr.small {
    background-color: #000;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 44px;
}
.text-hr {
    margin-bottom: 60px !important;
    margin-top: 0 !important;
}
.center-vertical {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:50% 0;
}
